/* Write your CSS here */
.img5 {
  height: 20px;
  height: 20px;
  margin-top: 17px;
  margin-right: 9px;
}

.div3 {
  display: flex;
  flex-direction: row;
}

.size4 {
  height: 200px;
  width: 200px;
}

.div4 {
  margin: 30px;
}
